.footer {
  width: 100%;
  text-align: center;
  color: #fff;
  background: transparent;
  font-size: 1rem;
  padding: 16px 0 16px 0; /* 通常の下部余白に戻す */
  margin: 16px 0;
  letter-spacing: 0.08em;
  border-top: 1px solid #fff; /* フッター上部に白い線を追加 */
}

@media (max-width: 600px) {
  .footer {
    padding-top: 16px !important;
  }
}
